// プロジェクト固有のパターン

/*=============================
    error（プロジェクト）
===============================*/
.p-error__block {
    text-align: center;
    width: 450px;
    padding: 30px;
    margin: 120px auto;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    @include mq(md) {
        width: 70%;
    }
    @include mq() {
        width: 95%;
    }
}