// プロジェクト固有のパターン

/*=============================
    trigger（プロジェクト）
===============================*/
.p-trigger {
    display: none;
    @include mq(sm) {
        display: block;
    }
    color: #fff;
    &__icon {
        transition: all .5s;
        position: relative;
        width: 40px;
        height: 32px;
        z-index: 3;
        cursor: pointer;
        &.is-active {
            & .p-trigger__bar {
                &:nth-of-type(1) {
                    transform: translateY(12px) rotate(-45deg);
                }
                &:nth-of-type(2) {
                    opacity: 0;
                }
                &:nth-of-type(3) {
                    transform: translateY(-15px) rotate(45deg);
                }
            }
        }
    }
    &__bar {
        transition: all .5s;
        display: inline-block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background: #fff;
        border-radius: 3px;
        &:nth-of-type(1) {
            top: 0;
        }
        &:nth-of-type(2) {
            top: 50%;
            transform: translateY(-50%);
        }
        &:nth-of-type(3) {
            bottom: 0;
        }
    }
    &__list {
        transition: .5s;
        width: 250px;
        height: 100vh;
        padding-top: 60px;
        background: rgba(21,39,77,0.75);
        position: absolute;
        right: 0;
        top: 0;
        &-item {
            width: 100%;
            text-align: center;
            padding: 15px;
            color: #fff;
        }
    }
    &__menu {
        position: absolute;//★ココ重要
        z-index: 2;
        top: 0;
        right: 0; //右に出す
        width: 250px;
        height: 100%;
    }
}

