// 最小の機能を定義。
// 複数箇所で使いまわすパーツ

/*=============================
    button（コンポーネント）
===============================*/
.c-btn {
    border-radius: 5px;
    text-align: center;
    &--green {
        background: #39ae36;
    }
    &--red {
        background: #C00303;
    }
    
}

