/*=============================
    margin(utylity)
===============================*/
//margin-top
.u-mt-10 {
   margin-top: 10px;
}

//margin-right
.u-mr-10 {
   margin-right: 10px;
}

//margin-bottom
.u-mb-10 {
   margin-bottom: 10px;
}
.u-mb-20 {
   margin-bottom: 20px;
}
.u-mb-30 {
   margin-bottom: 30px;
}
.u-mb-60 {
   margin-bottom: 60px;
}

